@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Oswald:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}
.fontGloria {
    font-family: 'Gloria Hallelujah';
    font-family: 'Oswald', sans-serif;
}

.textCenter { text-align: center;}

h1 { font-size: 2em;}


.d-Flex {display: flex;}





#nav{
    background-color: black;
    height: 55px;
    }

        #nav ul li a {    
                color: white;
                text-decoration: none;
                font-size: 1.05rem;
                font-family: Arial, Helvetica, sans-serif;
                transition: 0.5s;
                margin: 0 8px;
                }
     
                #nav ul li a:hover {
                    color: rgb(179, 173, 173);
                    font-size: 1.02rem;
                    transition: 0.5s;
                    }  
    #nav img {
        width: 200px;
        margin-left: -25px;
    }
    nav svg {
        background-color: white;
        
        
    }


.home {
    background-image: url("../img/principal/dukiiii.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
    top: 50px;
    
}



.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    }

.img-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 50px; 
    
}

.logoSmall { 
    width: 760px;
    height:auto ;
    padding-left: 90px;
    }

main div h1 { 
    font-size: 30px;
    color: white;
    padding: 30px;
   
}
.footer-home {  
    position: fixed;
    background-color: rgb(0, 0, 0);
    text-align: center;
    list-style: none;
    width: 100%;
    height: auto;
    bottom: 0;
}
footer {
   
    background-color: rgb(0, 0, 0);
    text-align: center;
    list-style: none;
    width: 100%;
    height: auto;
    bottom: 0;
}
 
    footer a {text-decoration: none;}

         a i {width: 135px;}
            
            a .pieIcon { width: 4.5em;
                height: auto;
                padding: 5px 15px;
                color: white;
                }

                
.carousel-item{
    width: 100vw;
    height: 75vh;
}

        .carouselimg{
            width: 100%;
            height: auto;
        } 
.row {
   
    width: 100%;
}








 
/* btn */
    .btn{
        padding: 10px 25px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        background: transparent;
        outline: none ;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
      }
      
      .btn-efecto {
        border: 2px solid rgb(22, 22, 22);
        z-index: 1;
        color: rgb(12, 12, 12);
      }
      
      .btn-efecto:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: rgb(32, 31, 31);
        transition: all 0.3s ease;
      }
      
      .btn-efecto:hover {
        color: white;
      }
      
      .btn-efecto:hover:after {
        top: 0;
        height: 100%;
      }
      
      .btn-efecto:active {
        top: 2px;
      }
/* cierra btn */

@media (max-width:1024px) { 
    .logoSmall { 
        width:500px;
        height: auto;
     }
     .contenido {
        align-items: center;
        justify-content: center;
     }
     .img-logo {
        margin-top: 0;
        margin-right: 150px;
     }
        @media (max-width: 768px) { 
        .logoSmall { 
            width:450px;
            height: auto;
            }
        .contenido {
            align-items: center;
            justify-content: center;
            }
        .img-logo {
            margin-top: 0;
            margin-left: 50px;
            }
        main div h1 {
            font-size: 1.3rem;
            
            }
        }

            @media (max-width: 425px) { 
                .logoSmall { 
                    width:390px;
                    height: auto;
                    }
                .img-logo {
                    margin-top: 0;
                    margin-left: 45px;
                    }
                main div h1 {
                    font-size: 1.1em;
                    }
                
            }
}

@media (max-width: 1330px) {
    .carousel-item{
        width: 100vw;
        height: 25vh;
    }
}